// Colors
$color-white: #fff;
$color-black: #000;
$modalBg: #eee;
$color-gradient-start: #5041b2;
$color-gradient-end: #7969e6;
$color-list-gradient-start: #fd8355;
$color-list-gradient-medium: #f0576c;
$color-list-gradient-end: #f79cdb;
$color-creator-gradient-start: #f0613c;
$color-creator-gradient-end: #f0783c;
$hoverEffect: rgba(255, 255,255, .2);
$success: #17b817;
$primary: #32297e;
$error: #d00606;
$btnColor: #094c09;
$activeLink: #474141;

// Fonts
$font-global: Ubuntu, sans-serif;
$font-global-medium: Ubuntu-medium, sans-serif;
$font-global-bold: Ubuntu-bold, sans-serif;

// FontSize
$font-size-base: 14px;

// Variables
$borderRadius: 5px;
